@charset "UTF-8";
body {
  font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3E3E3E;
  background-color: #F3F3F3;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
    line-height: 1.714;
  }
}

img {
  width: 100%;
  height: auto;
  border: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: calc(100% - 32px);
    padding: 0;
  }
}

section {
  margin-bottom: 120px;
}

@media screen and (max-width: 767px) {
  section {
    margin-bottom: 40px;
  }
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2222;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 300px;
}

.drawer--right .drawer-nav {
  right: -300px;
}

.drawer-hamburger {
  padding: 18px .75rem 18px;
  z-index: 12;
}

.drawer-hamburger .menu-open {
  opacity: 1;
  visibility: visible;
  display: inline-block;
}

.drawer-hamburger .menu-close {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.drawer--right.drawer-open .drawer-hamburger .menu-open {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.drawer--right.drawer-open .drawer-hamburger .menu-close {
  opacity: 1;
  visibility: visible;
  display: inline-block;
}

.drawer--right.drawer-open .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
}

.drawer--right.drawer-open .mask {
  opacity: 0.7;
  visibility: visible;
}

.header {
  width: 100%;
  height: 83px;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (max-width: 767px) {
  .header {
    height: 68px;
    background-color: #fff;
  }
}

.header.header-color {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

.header .header-inner {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header .header-inner button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-logo {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header .header-inner .header-logo {
    font-size: 23px;
    color: #3E3E3E;
    font-weight: bold;
    text-align: left;
    height: 68px;
    line-height: 68px;
  }
}

@media screen and (max-width: 767px) {
  .header .header-inner .header-nav {
    width: 300px;
    padding: 160px 100px;
    background-color: #fff;
    z-index: 12;
  }
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-nav ul li {
    margin-right: 40px;
    line-height: 83px;
  }
}

.header .header-inner .header-nav ul li:last-child {
  margin-right: 0;
}

.header .header-inner .header-nav ul li a {
  position: relative;
  color: #3E3E3E;
  letter-spacing: -0.4px;
  display: inline-block;
  font-family: "Montserrat";
  width: 100%;
  height: 100%;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-nav ul li a::after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: 27px;
    width: 100%;
    height: 1px;
    background-color: #3E3E3E;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .header .header-inner .header-nav ul li a:hover::after {
    opacity: 1;
    visibility: visible;
  }
}

.top {
  width: 100%;
  height: 648px;
  background: url(../image/mv.png) center center/cover;
}

@media screen and (max-width: 767px) {
  .top {
    width: 100%;
    height: 100%;
    margin-bottom: -40px;
  }
}

.top .top-message {
  width: 50%;
  padding: 228px 0 153px;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .top .top-message {
    width: 100%;
    margin: 0;
  }
}

.top .top-message .top-title {
  font-size: clamp(24px, 3vw, 32px);
  font-weight: bold;
  letter-spacing: 0.02px;
  margin-bottom: 28px;
}

@media screen and (max-width: 767px) {
  .top .top-message .top-title {
    margin-bottom: 28px;
    letter-spacing: 0;
  }
}

.top .top-message .top-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5556;
  letter-spacing: 0.45px;
  margin-bottom: 37px;
}

@media screen and (max-width: 767px) {
  .top .top-message .top-text {
    margin-bottom: 30px;
    font-size: 14px;
  }
}

.top .top-message .top-btn {
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .top .top-message .top-btn {
    text-align: center;
  }
}

.top .top-message .top-btn a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 16px 50px;
  border-radius: 10px;
  background-color: #FFAA3B;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .top .top-message .top-btn a {
    padding: 9px 32px;
  }
}

@media screen and (min-width: 768px) {
  .top .top-message .top-btn a:hover {
    background-color: #F18900;
  }
}

.news {
  width: 100%;
  height: 100%;
}

.news .news-inner {
  width: 100%;
  height: 100%;
  padding: 60px 60px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  .news .news-inner {
    padding: 40px 0;
  }
}

.news .news-inner .section-title {
  margin-bottom: 60px;
}

.news .news-inner .news-item {
  width: 100%;
}

.news .news-inner .news-item:nth-last-of-type(2) {
  margin-bottom: 42px;
}

.news .news-inner .news-item .news-link1 {
  border-top: 1px #CECDCD solid;
}

.news .news-inner .news-item .news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #3E3E3E;
  border-bottom: 1px #CECDCD solid;
  padding: 38px 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media screen and (min-width: 768px) {
  .news .news-inner .news-item .news-link:hover {
    background-color: rgba(73, 115, 255, 0.1);
  }
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-item .news-link {
    display: inline-block;
    padding: 14px 55px 14px 16px;
    position: relative;
  }
}

.news .news-inner .news-item .news-link .news-date {
  font-size: 18px;
  line-height: 1.4444;
  letter-spacing: 0.45px;
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-item .news-link .news-date {
    letter-spacing: 0.35px;
    margin-bottom: 12px;
  }
}

.news .news-inner .news-item .news-link .news-label {
  font-size: 14px;
  line-height: 1.8571;
  letter-spacing: 0.34px;
  width: 121px;
  height: 30px;
  border: 2px #3B69FF solid;
  border-radius: 50px;
  text-align: center;
  margin-left: 38px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-item .news-link .news-label {
    position: absolute;
    top: 16px;
    left: 100px;
    font-size: 12px;
    width: 81px;
    height: 20px;
    letter-spacing: 0;
    line-height: 17px;
  }
}

.news .news-inner .news-item .news-link .news-title {
  font-size: 18px;
  line-height: 1.5556;
  letter-spacing: 0.45px;
  width: 698px;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-item .news-link .news-title {
    letter-spacing: 0;
    width: 100%;
    margin: 0;
  }
}

.news .news-inner .news-btn {
  text-align: center;
}

.news .news-inner .news-btn a {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  display: inline-block;
  padding: 16px 78px;
  border: 1px #707070 solid;
  color: #3E3E3E;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

@media screen and (min-width: 768px) {
  .news .news-inner .news-btn a:hover {
    background-color: #3E3E3E;
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .news .news-inner .news-btn a {
    padding: 9px 95px;
  }
}

.service {
  width: 100%;
  height: 400px;
  padding-top: 60px;
  background-color: #3E3E3E;
  margin-bottom: 215px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .service {
    padding-top: 40px;
    margin-bottom: 513px;
  }
}

.service .section-title {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .service .section-title {
    margin-bottom: 40px;
  }
}

.service .service-inner {
  background-color: #fff;
  max-width: 960px;
  width: 100%;
  padding: 60px 45px;
  -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
          box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (min-width: 768px) {
  .service .service-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 164px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fff;
    max-width: 960px;
    height: 331px;
    -webkit-box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
            box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  }
}

@media screen and (max-width: 767px) {
  .service .service-inner {
    display: block;
    width: 100%;
    padding: 40px 16px;
  }
}

@media screen and (min-width: 768px) {
  .service .service-inner .service-item {
    max-width: 230px;
    width: 100%;
    height: 100%;
    margin-right: 20px;
  }
  .service .service-inner .service-item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .service .service-inner .service-item {
    max-width: 400px;
    width: 100%;
    margin: 0 auto 40px;
  }
}

.service .service-inner .service-item .service-item-img {
  width: 100%;
  margin-bottom: 11px;
  text-align: center;
}

.service .service-inner .service-item .service-item-img img {
  width: 50px;
  height: 50px;
}

.service .service-inner .service-item .service-item-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.service .service-inner .service-item .service-item-text {
  font-size: 14px;
  line-height: 1.7142;
}

.results {
  width: 100%;
  height: 100%;
}

.results .swiper-container {
  margin-right: 0;
}

.results .swiper-container {
  width: calc(100% - 40px);
  background-color: #3E3E3E;
  margin-left: auto;
  padding: 60px 0 60px 60px;
}

@media screen and (max-width: 767px) {
  .results .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: 0;
    padding: 40px 0 40px 16px;
  }
}

.results .swiper-container .section-title {
  color: #fff;
  margin-bottom: 61px;
}

@media screen and (min-width: 768px) {
  .results .swiper-container .section-title {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .results .swiper-container .section-title {
    margin-bottom: 40px;
  }
}

.results .swiper-container .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 57.8%;
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .slider {
    margin-bottom: 68px;
  }
}

.results .swiper-container .slider .slick-arrow {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}

.results .swiper-container .slider .slick-next, .results .swiper-container .slider .slick-prev {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}

.results .swiper-container .slider .slick-list {
  padding-right: 25%;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .slider .slick-list {
    padding-right: 65px;
  }
}

.results .swiper-container .slider .slick-list .swiper-slide {
  margin-right: 40px;
}

.results .swiper-container .slider .slick-list .swiper-slide:last-child {
  margin-right: 0;
}

.results .swiper-container .slider .slick-list .swiper-slide .results-item-img {
  padding-top: 62.5%;
  position: relative;
  overflow: hidden;
}

.results .swiper-container .slider .slick-list .swiper-slide .results-item-img > img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.results .swiper-container .slider .slick-list .swiper-slide .results-item-message {
  padding: 16px 16px 19px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .slider .slick-list .swiper-slide .results-item-message {
    padding: 10px;
  }
}

.results .swiper-container .slider .slick-list .swiper-slide .results-item-message .results-item-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .slider .slick-list .swiper-slide .results-item-message .results-item-title {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .results .swiper-container .slider .slick-list .swiper-slide .results-item-text {
    font-size: 12px;
  }
}

.results .swiper-container .slider .slick-dots {
  width: auto;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .slider .slick-dots {
    width: 100%;
  }
}

.results .swiper-container .slider .slick-dots li {
  bottom: -40px;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .slider .slick-dots li {
    bottom: -24px;
  }
}

.results .swiper-container .slider .slick-dots li button::before {
  font-size: 12px;
  color: #fff;
  opacity: 1;
}

.results .swiper-container .slider .slick-dots li.slick-active button {
  border: 1px solid #fff;
  border-radius: 50%;
}

.results .swiper-container .slider .slick-dots li.slick-active button::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -48%);
          transform: translate(-50%, -48%);
}

@media screen and (max-width: 767px) {
  .results .swiper-container .results-btn {
    text-align: center;
  }
}

.results .swiper-container .results-btn a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  padding: 16px 80px;
  border: 1px #fff solid;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .results-btn a {
    padding: 9px 93px;
  }
}

@media screen and (min-width: 768px) {
  .results .swiper-container .results-btn a:hover {
    background-color: #fff;
    color: #3E3E3E;
  }
}

.results .swiper-container-horizontal > .swiper-pagination-bullets {
  top: 635px;
  left: 64px;
  width: 100%;
  height: 25px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .results .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 393px;
    left: 80px;
  }
}

.results .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 16px;
}

.results .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child {
  margin-left: 0;
}

.results .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  position: relative;
}

.results .swiper-pagination-bullet-active::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px #fff solid;
  border-radius: 50%;
}

.price {
  width: 100%;
  height: 100%;
  margin-bottom: 116px;
}

@media screen and (max-width: 767px) {
  .price {
    margin-bottom: 60px;
  }
}

.price .section-title {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .price .section-title {
    margin-bottom: 40px;
  }
}

.price .price-table {
  width: calc(100% - 240px);
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .price .price-table {
    width: 100%;
  }
}

.price .price-table .table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border: 1px #707070 solid;
  border-collapse: collapse;
}

.price .price-table .table tr {
  width: 100%;
  height: 60px;
  font-weight: bold;
  font-size: 24px;
  line-height: 59px;
}

.price .price-table .table tr th {
  width: 27.4%;
  background-color: #3E3E3E;
  color: #fff;
  border: 1px #707070 solid;
}

.price .price-table .table tr td {
  border: 1px #707070 solid;
  padding-left: 40px;
}

.price .price-table .table-message {
  font-size: 12px;
  line-height: 1.6667;
  margin-top: 9px;
}

.comments {
  width: 100%;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .comments {
    margin-bottom: 60px;
  }
}

.comments .comments-bg {
  width: calc(100% - 300px);
  height: 576px;
  background-color: #3E3E3E;
  position: absolute;
  top: 148px;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .comments .comments-bg {
    width: 100%;
    top: 57px;
  }
}

.comments .comments-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .comments .comments-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.comments .comments-wrap .comments-message {
  background-color: #fff;
  width: 55.5%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  padding: 120px 60px 63px;
}

@media screen and (max-width: 767px) {
  .comments .comments-wrap .comments-message {
    width: 100%;
    padding: 40px 20px;
  }
}

.comments .comments-wrap .comments-message .section-title {
  text-align: left;
  margin-bottom: 56px;
}

@media screen and (max-width: 767px) {
  .comments .comments-wrap .comments-message .section-title {
    margin-bottom: 40px;
  }
}

.comments .comments-wrap .comments-message .comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 53px;
}

@media screen and (max-width: 767px) {
  .comments .comments-wrap .comments-message .comments-item {
    margin-bottom: 40px;
  }
  .comments .comments-wrap .comments-message .comments-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .comments .comments-wrap .comments-message .comments-item .comments-item-img {
    padding: 4px 0;
  }
}

.comments .comments-wrap .comments-message .comments-item .comments-item-img img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 767px) {
  .comments .comments-wrap .comments-message .comments-item .comments-item-img img {
    width: 60px;
    height: 60px;
  }
}

.comments .comments-wrap .comments-message .comments-item .comments-text {
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  .comments .comments-wrap .comments-message .comments-item .comments-text {
    margin-left: 20px;
  }
}

.comments .comments-wrap .comments-img {
  width: 44.5%;
}

@media screen and (max-width: 767px) {
  .comments .comments-wrap .comments-img {
    display: none;
  }
}

.qa {
  width: 100%;
  height: 100%;
  padding: 60px 0 84px;
  background: url(../image/qa-bg.png) center center/cover;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .qa {
    padding: 40px 0;
  }
}

.qa .section-title {
  margin-bottom: 61px;
}

@media screen and (max-width: 767px) {
  .qa .section-title {
    margin-bottom: 40px;
  }
}

.qa .qa-inner .qa-inner-item {
  width: 612px;
  background-color: #fff;
  padding: 16px 16px;
  margin-bottom: 32px;
  margin-left: auto;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .qa .qa-inner .qa-inner-item {
    width: 100%;
  }
}

.qa .qa-inner .qa-inner-item .accordion-head {
  position: relative;
  cursor: pointer;
}

.qa .qa-inner .qa-inner-item .accordion-head .qa-item-head-in {
  font-weight: bold;
  margin-left: 41px;
}

.qa .qa-inner .qa-inner-item .accordion-head .qa-item-head-in::before {
  content: "Q";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #fff;
  background-color: #3B69FF;
  border-radius: 50%;
}

.qa .qa-inner .qa-inner-item .accordion-head .qa-item-2 {
  font-weight: bold;
  margin-left: 41px;
}

.qa .qa-inner .qa-inner-item .accordion-head .qa-item-2::before {
  content: "Q";
  position: absolute;
  top: 10px;
  left: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #fff;
  background-color: #3B69FF;
  border-radius: 50%;
}

.qa .qa-inner .qa-inner-item .accordion-head .accordion-icon {
  margin-left: auto;
}

.qa .qa-inner .qa-inner-item .accordion-head .accordion-icon .qa-item-icon1, .qa .qa-inner .qa-inner-item .accordion-head .accordion-icon .qa-item-icon2 {
  position: absolute;
  top: -4px;
  right: 0;
}

.qa .qa-inner .qa-inner-item .accordion-head .accordion-icon .qa-item-icon1 img, .qa .qa-inner .qa-inner-item .accordion-head .accordion-icon .qa-item-icon2 img {
  width: 17px;
  height: 17px;
}

.qa .qa-inner .qa-inner-item .accordion-head .accordion-icon .icon {
  top: 7px;
}

.qa .qa-inner .qa-inner-item .accordion-head .accordion-icon .qa-item-icon1 {
  opacity: 1;
  visibility: visible;
}

.qa .qa-inner .qa-inner-item .accordion-head .accordion-icon .qa-item-icon2 {
  opacity: 0;
  visibility: hidden;
}

.qa .qa-inner .qa-inner-item .accordion-head .accordion-icon.is-open .qa-item-icon1 {
  opacity: 0;
  visibility: hidden;
}

.qa .qa-inner .qa-inner-item .accordion-head .accordion-icon.is-open .qa-item-icon2 {
  opacity: 1;
  visibility: visible;
}

.qa .qa-inner .qa-inner-item .qa-item-body {
  background-color: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 16px;
  display: none;
}

.access {
  height: 100%;
  color: #fff;
  margin-bottom: 120px;
  position: relative;
}

.access::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 76.563%;
  height: 504px;
  background-color: #3E3E3E;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .access::after {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .access {
    margin-bottom: 0;
  }
}

.access .access-inner {
  width: 100%;
  padding: 120px 0px 0px 60px;
}

@media screen and (max-width: 767px) {
  .access .access-inner {
    padding: 40px 0 60px;
  }
}

.access .access-inner .access-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .access .access-inner .access-info-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.access .access-inner .access-info-wrap .access-info {
  max-width: 314px;
  width: 100%;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .access .access-inner .access-info-wrap .access-info {
    max-width: 100%;
  }
}

.access .access-inner .access-info-wrap .access-info .section-title {
  text-align: left;
  margin-bottom: 57px;
}

@media screen and (max-width: 767px) {
  .access .access-inner .access-info-wrap .access-info .section-title {
    margin-bottom: 40px;
  }
}

.access .access-inner .access-info-wrap .access-info p {
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .access .access-inner .access-info-wrap .access-info p {
    margin-bottom: 24px;
  }
}

.access .access-inner .access-info-wrap .access-info .access-btn {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .access .access-inner .access-info-wrap .access-info .access-btn {
    width: 339px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.access .access-inner .access-info-wrap .access-info .access-btn a {
  width: 100%;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 16px 0px;
  border: 1px #fff solid;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

@media screen and (min-width: 768px) {
  .access .access-inner .access-info-wrap .access-info .access-btn a:hover {
    background-color: #fff;
    color: #3E3E3E;
  }
}

@media screen and (max-width: 767px) {
  .access .access-inner .access-info-wrap .access-info .access-btn a {
    padding: 9px 93px;
    font-size: 18px;
  }
}

.access .access-inner .access-info-wrap .map-iframe {
  top: 120px;
  right: -260px;
  max-width: 726px;
  width: 100%;
  height: 520px;
}

@media screen and (max-width: 767px) {
  .access .access-inner .access-info-wrap .map-iframe {
    max-width: 100%;
    height: 241px;
    margin-bottom: 78px;
  }
}

.access .access-inner .access-info-wrap .map-iframe iframe {
  width: 100%;
  height: 100%;
}

.contact {
  width: 100%;
  height: 100%;
  background: url(../image/contact-bg.png) center center/cover;
  padding: 60px 120px;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 40px 0;
  }
}

.contact .contact-form {
  width: 100%;
  height: 100%;
}

.contact .contact-form .contact-form-head {
  background: url(../image/contact1.png) center center/cover;
  text-align: center;
  color: #fff;
  padding: 57px 60px;
  border-radius: 12px 12px 0px 0px;
}

@media screen and (max-width: 767px) {
  .contact .contact-form .contact-form-head {
    padding: 40px 16px;
  }
  .contact .contact-form .contact-form-head p {
    text-align: left;
  }
}

.contact .contact-form .contact-form-head .section-title {
  margin-bottom: 16px;
}

.contact .contact-form form {
  background-color: #fff;
  border-radius: 0px 0px 12px 12px;
  padding: 59px 0 120px 59px;
}

@media screen and (max-width: 767px) {
  .contact .contact-form form {
    padding: 40px 12px;
  }
}

.contact .contact-form form .form-item {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contact .contact-form form .form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact .contact-form form .form-item:last-child {
  margin-bottom: 28px;
}

.contact .contact-form form .form-item dt {
  width: 128px;
  height: 32px;
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .contact .contact-form form .form-item dt {
    margin-bottom: 6px;
  }
}

.contact .contact-form form .form-item dt .form-label {
  font-weight: bold;
  line-height: 32px;
}

.contact .contact-form form .form-item dt .form-label1 {
  line-height: 40px;
}

.contact .contact-form form .form-item dt .contact-label1, .contact .contact-form form .form-item dt .contact-label2 {
  position: relative;
}

.contact .contact-form form .form-item dt .contact-label1::after, .contact .contact-form form .form-item dt .contact-label2::after {
  position: absolute;
  content: "必須";
  top: 0;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #FF4646;
  border-radius: 2px;
  width: 40px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}

.contact .contact-form form .form-item dt .contact-label1:after {
  left: 44px;
}

.contact .contact-form form .form-item dt .contact-label2:after {
  left: 75px;
}

.contact .contact-form form .form-item dd {
  width: calc(100% - 188px);
}

@media screen and (max-width: 767px) {
  .contact .contact-form form .form-item dd {
    width: 100%;
  }
}

.contact .contact-form form .form-item dd .form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(../image/select.png) no-repeat center right 12px/17px 14px;
  color: inherit;
  cursor: pointer;
  padding: 12px;
  width: 178px;
  height: 40px;
  border: 1px #707070 solid;
}

@media screen and (max-width: 767px) {
  .contact .contact-form form .form-item dd .form-select {
    width: 100%;
  }
}

.contact .contact-form form .form-item dd .form-text {
  width: 100%;
  height: 32px;
  padding: 12px;
  border: none;
  border-bottom: 1px #707070 solid;
}

@media screen and (max-width: 767px) {
  .contact .contact-form form .form-item dd .form-text {
    padding: 5px 0;
  }
}

.contact .contact-form form .form-radiobtn {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .contact .contact-form form .form-radiobtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact .contact-form form .form-radiobtn .form-radio-label {
  width: 128px;
  margin-right: 40px;
}

.contact .contact-form form .form-radiobtn .form-radio-item {
  margin-right: 35px;
}

.contact .contact-form form .form-radiobtn .form-radio-item .form-radio {
  display: none;
}

.contact .contact-form form .form-radiobtn .form-radio-item .form-radio + span {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 20px;
}

.contact .contact-form form .form-radiobtn .form-radio-item .form-radio + span::before, .contact .contact-form form .form-radiobtn .form-radio-item .form-radio + span::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact .contact-form form .form-radiobtn .form-radio-item .form-radio + span::before {
  background-color: #fff;
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  border: 1px #707070 solid;
  border-radius: 50%;
}

.contact .contact-form form .form-radiobtn .form-radio-item .form-radio + span::after {
  background-color: #3B69FF;
  border: 1px transparent solid;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.contact .contact-form form .form-radiobtn .form-radio-item .form-radio:checked + span::after {
  opacity: 1;
}

.contact .contact-form form .form-textarea {
  margin-bottom: 30px;
}

.contact .contact-form form .form-textarea .textarea-label {
  margin-bottom: 4px;
}

.contact .contact-form form .form-textarea .textarea-label .form-label {
  font-weight: bold;
}

.contact .contact-form form .form-textarea textarea {
  width: 95%;
  height: 200px;
  resize: vertical;
  padding: 5px 12px;
}

@media screen and (max-width: 767px) {
  .contact .contact-form form .form-textarea textarea {
    height: 160px;
  }
}

.contact .contact-form form .form-check {
  margin-bottom: 37px;
}

.contact .contact-form form .form-check .form-checkbox {
  display: none;
}

.contact .contact-form form .form-check .form-checkbox + span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 40px;
}

.contact .contact-form form .form-check .form-checkbox + span::before, .contact .contact-form form .form-check .form-checkbox + span::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact .contact-form form .form-check .form-checkbox + span::before {
  display: block;
  background-color: #fff;
  border: 1px #707070 solid;
  left: 0;
  width: 18px;
  height: 18px;
}

.contact .contact-form form .form-check .form-checkbox + span::after {
  top: 7px;
  left: 2px;
  width: 14px;
  height: 7px;
  border-left: 2px #3B69FF solid;
  border-bottom: 2px #3B69FF solid;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.contact .contact-form form .form-check .form-checkbox + span a {
  color: #3E3E3E;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .contact .contact-form form .form-check .form-checkbox + span a {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contact .contact-form form .form-check .form-checkbox + span a:hover {
    opacity: 0.7;
  }
}

.contact .contact-form form .form-check .form-checkbox:checked + span::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .contact .contact-form form .form-submit {
    text-align: center;
  }
}

.contact .contact-form form .form-submit .submit-btn {
  cursor: pointer;
  text-align: center;
  width: 173px;
  background-color: #fff;
  color: #3E3E3E;
  font-size: 18px;
  letter-spacing: 0.45px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.contact .contact-form form .form-submit .submit-btn.-active {
  background-color: #FFAA3B;
  color: #fff;
}

.contact .contact-form .contact-message {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background-color: #fff;
  color: #3B69FF;
  margin: 30px 0;
  padding: 30px;
  border-radius: 50px;
  display: none;
}

.contact .contact-form .contact-message.-error {
  color: #FF4646;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #3E3E3E;
  padding: 60px 160px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 60px 0 57px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .footer .footer-inner .footer-left {
    margin-bottom: 25px;
  }
}

.footer .footer-inner .footer-left .footer-sns {
  margin-bottom: 35px;
}

.footer .footer-inner .footer-left .footer-sns a {
  margin-right: 27px;
}

.footer .footer-inner .footer-left .footer-sns a:last-child {
  margin-right: 0;
}

.footer .footer-inner .footer-left .footer-sns a .sns-icon {
  width: 36px;
  height: 36px;
  font-size: 36px;
  color: #fff;
  opacity: 0.6;
}

.footer .footer-inner .footer-left .footer-link ul li {
  margin-bottom: 16px;
}

.footer .footer-inner .footer-left .footer-link ul li:last-child {
  margin-bottom: 0;
}

.footer .footer-inner .footer-left .footer-link ul li a {
  color: #fff;
  letter-spacing: 0.4px;
}

@media screen and (min-width: 768px) {
  .footer .footer-inner .footer-right {
    text-align: right;
  }
}

.footer .footer-inner .footer-right .footer-title {
  font-size: 40px;
  color: #E3E3E3;
  font-weight: bold;
  height: 49px;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .footer .footer-inner .footer-right .footer-title {
    font-size: 32px;
  }
}

.footer .footer-inner .footer-right .copyright {
  font-size: 12px;
  letter-spacing: 0.7px;
  line-height: 1.25;
}

.to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 44px;
  right: 40px;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .to-top {
    right: 16px;
    bottom: 13px;
  }
}
/*# sourceMappingURL=style.css.map */